# Ignore node modules and build output
node_modules/

# Logs
dist/

# Ignore environment variable files
.env

# Ignore IDE specific files
.vscode/

# Dart specific files
.dart_tool/
.idea/
*.iml
.metadata

# Platform specific files
android/
ios/
web/
windows/
linux/